    {% extends 'page/base.html' %}

    {% block title %}
        Course
    {% endblock %}

    {% block content %}
        <div class="d-flex flex-wrap">
            {% for item in object_list %}
                <div class="card m-4  ml-auto" style="width: 15rem;">
                    {% if item.picture %}
                        <img src="{{ item.picture.url }}" class="card-img-top" alt="...">
                    {% else %}
                        <p>Không có hình ảnh</p>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <h6 class="card-title"> Educator: {{ item.educator }}</h6>
                        <p class="card-text">{{ item.excerpt }}</p>
                           <form class="text-center " method="post" action="{% url 'join_course' pk=item.id %}">
                                {% csrf_token %}
                                {% if item.id in enrolled_courses %}
                                    <button type="submit" class="btn btn-secondary btn-block w-50" >
                                        Joined
                                    </button>
                                {% else %}
                                    <button type="submit" class="btn btn-secondary btn-block w-50">
                                        Join
                                    </button>
                                {% endif %}
                            </form>
                    <br>
                        <div class="card-footer bg-white">
                            <small class="text-muted "  >
                                <i class="bi bi-book"></i> {{ item.num_lessons }} lesson
                                <i class="bi bi-people p-1"></i>{{ item.course.count }} student
                            </small>
                        </div>
                    </div>
                </div>
{#                {% if forloop.counter|divisibleby:3 and not forloop.last %}#}
{#                 <div class="w-100"></div>#}
{#            {% endif %}#}
            {% endfor %}
        </div>
    {% endblock %}
