{% extends 'page/base.html' %}

{% block content %}
    <div class="container my-3 ml-3 ">
        <h5 class="text-left"><a href="{% url 'course' %}" class="bi bi-arrow-left text-dark p-3"></a> {{ course.name }}</h5>
        <div class="row">
            <div class="text-center">
                <h2 class="">Course content</h2>
                <i class=""></i>1 section |
                {{ course.num_lessons }} lesson
            </div>
            <div class="col-md-8 mx-auto">
                <div class="list-group mt-3">
                    {% if video_lesson %}
                        {% for video in video_lesson %}
                            <a href="{% url 'learn' pk=video.id %}"
                               class="list-group-item list-group-item-action">
                                {{ video.title }}
                            </a>
                        {% endfor %}
                    {% else %}
                        <p class="list-group-item">Không có khóa học nào.</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
